/* responsive design */
.App {
    display: grid;
    grid-template-columns: 0.4fr repeat(2, 1fr);
    grid-template-rows: 0.07fr 0.1fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas:
        "title title title"
        "side-nav div2 div3"
        "side-nav content content"
        "side-nav content content";
    gap: 3px;
}

.title {
    grid-area: title;
    background-color: #588157;
    color: white;
}

.div2 {
    grid-area: div2;
}

.div3 {
    grid-area: div3;
    width: 100%;
    height: 60%;
}

.div4 {
    grid-area: side-nav;
    background-color: #a3b18a;
}

.div5 {
    grid-area: content;
    background-color: #dad7cd;
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* home */
#text{
    font-size: 20px;
    text-align: left;
}

.div2 h3{
    font-size: 23px;
}

/* NewList */
.input_customer {
    display: none;
}

.new_list_input{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border-color: #52c234;
    border-top: none;
}

.new_list_btn {
    background-image: linear-gradient(to right, #52c234 0%, #061700 51%, #52c234 100%);
    margin-bottom: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
}

.new_list_btn:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

/* item list */
.templete:hover{
    /* padding-bottom: 10px; */
    padding: 1px;
    --shadow-color: hsl(220deg 60% 50%);
}

.box{
    filter: drop-shadow(1px 2px 8px var(--shadow-color));
    margin-bottom: 10px;
}

.image{
    height: 200px;
    width: 320px;
}

.delete-btn {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
    background: #57cc99;
    z-index: 1;
}

.delete-btn:hover:after {
    width: 100%;
    left: 0;
}

.delete-btn:after {
    border-radius: 5px;
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    z-index: -1;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
    transition: all 0.3s ease;
    background-color: #80ed99;
    right: 0;
}

.delete-btn:active {
    top: 2px;
}

/* EditItem */
#hide-item{
    display: none;
}

.edit-btn {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: 2px solid #57cc99;
    background: #57cc99;
}

.edit-btn:hover {
    background: #fff;
    color: #57cc99
}

#btn{
    display: flex;
    gap: 6px;
}